@model IEnumerable<SMN.Data.Entities.Paralelja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VitiShkollor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumriParaleles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kujdestari)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VitiShkollor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumriParaleles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kujdestari.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
